[2022-08-10 18:53] woodruffw commented on #348
Makes sense!

Another hiccup we'll want to consider: package age may not be easily available from all dependency sources, e.g. `pip-audit` with no arguments, meaning "audit the current environment" rather than "pull down metadata from PyPI".

[2022-08-10 20:41] jenstroeger commented on #348
Valid in an offline scenario. Quick check and I think a `release-date` of sorts isn’t a `[project]` key in a package’s metadata 🤔

[2022-08-11 15:51] heck-gd opened #349 "Random failures if requirements contain uwsgi package"
## Bug description

We use pip-audit in our CI in order to audit requirements files of Python projects. All projects that depend on `uwsgi` have highly undeterministic auditing stage failures. Sometimes we have 3 failed runs in a row, sometimes it works 20 times in a row without issues.

Note: We've never ever had a problem with installing `uwsgi` using pip in the actual projects (which also run i

[2022-08-11 16:01] woodruffw commented on #349
Just some notes for myself: `uwsgi` is sdist-only, which is too bad. That means that `pip-audit` is taking the sdist metadata path, and the failure clearly happens intermittently during installation so that we can extract that metadata.

[2022-08-11 16:08] woodruffw commented on #349
Possibly related: https://github.com/unbit/uwsgi/issues/2471

[2022-08-11 16:10] woodruffw commented on #349
Yeah, this appears to be a known issue: https://github.com/unbit/uwsgi/commit/1bb9ad77c6d2d310c2d6d1d9ad62de61f725b824

[2022-08-11 16:21] woodruffw opened #350 "Bug: assertion tripped when auditing a URL-style requirement without egg marker"
I noticed this while root-causing #349.

The following:

[code]

fails with:

[code]

...which is:

[code]

The `assert` here feels spurious -- we should support URL requirements that aren't marked as editable.

CC @tetsuo-cpp for thoughts, since I think this was your change.

[2022-08-11 16:23] heck-gd commented on #349
I see, thanks for pointing that out. That actually explains why we haven't seen this failure elsewhere, because our project images are still based on Debian Buster.

I'm closing this since it's not an issue with pip-audit after all. We're going to wait for a newer uwsgi release or downgrade our pip-audit image to Buster.

Thanks for your quick response!

[2022-08-11 16:23] #349 closed

[2022-08-11 16:24] woodruffw commented on #349
No problem, thanks for the report! This demonstrates that we probably need some better error handling and messaging here, so thanks!

[2022-08-11 16:29] woodruffw opened #351 "Provide more context when dependency collection fails for sdists"
#349 demonstrates a need for this: when we call `pip install some-sdist.tar.gz` internally, it might fail if the distribution itself is broken or has an unreliable build system.

At the moment, we surface that with an uncontrolled exception, which makes the error appear as if it's within `pip-audit` and not the project's build:

[code]

We should tweak this to surface the build's underlying error,

[2022-08-16 14:59] di opened #352 "new PEP to describe additional vulnerability fields for PEP 691"

[2022-08-16 14:59] #352 closed

[2022-08-22 10:05] rooterkyberian opened #354 "Cannot audit requirements.txt containing URL dependencies"
## Bug description

Cannot produce an audit for a file containing URL dependencies.

## Reproduction steps

requirements-lock.txt
[code]

[code]

## Expected behavior

I would like it either be automatically skipped (maybe with an error code thrown), and/or have a CLI flag that allows ignoring them completely (without error code thrown at the end).

## Screenshots and logs

[code]

## Platform inf

[2022-08-22 12:39] tetsuo-cpp commented on #354
Thanks for reporting this @rooterkyberian. I'll take a look at this shortly.

[2022-08-22 15:14] woodruffw commented on #354
Hmm, we should figure out the right behavior here -- `pip-audit` ultimately uses PyPI (and OSV) as a dependency source, which means that arbitrary URL-style requirements may not have corresponding packages on PyPI.

But that doesn't mean we should skip *all* URL-style requirements -- there might be cases where a user chooses to use URLs for whatever reason that *do* correspond to packages on PyPI,

[2022-08-22 15:16] woodruffw commented on #354
(There's a possible failure mode there where a user specifies package `foo` via a URL, but `foo` on PyPI is a completely different package that just happens to have the same name. If that happens, we may end up reporting incorrect vulnerabilities. But maybe that's an acceptable tradeoff?)

[2022-08-24 06:55] tetsuo-cpp commented on #354
I think that's fine. We've already accepted that trade-off in other places.

For example, for VCS requirements or those on the actual filesystem, we just get the package name and version and check it against PyPI.

`pip` itself also has the same flavour of problem where packages with the same name on different indexes are assumed to be identical.

[2022-08-24 07:09] tetsuo-cpp commented on #354
@rooterkyberian

The error message from `pip-audit` isn't clear, but the issue is we're supplying the `--no-deps` flag and the URL dependencies don't have a pinned version specifier. Basically, `pip-audit` doesn't download the archive and try to figure out what the package name and version is, it needs to have this information fed to it. For VCS and URL dependencies, we do this via egg fragments.

[2022-08-24 07:19] tetsuo-cpp commented on #354
I also noticed a few related problems which I'll file an issue for. If I try to run an audit without pinning the version in the egg fragment and without the `--no-deps` flag, I'm seeing some weird behaviour.

Instead of adding the URL requirements to the skipped dependencies list like it does in the above example, we get a dependency resolution failure:

[code]

If I use the `<name> @ <url>` synta

[2022-08-24 12:01] tetsuo-cpp commented on #350
Yeah, I think that assertion can either be removed or massaged to include this case. I'm about to take a closer look at URL handling so I'll fix this up.

[2022-08-24 12:21] tetsuo-cpp opened #356 "Dependency resolution errors for URL requirements that don't exist in PyPI"
I noticed this as part of debugging #354. Context in https://github.com/trailofbits/pip-audit/issues/354#issuecomment-1225300272.

[2022-08-24 13:12] tetsuo-cpp commented on #356
So the reason that the example from the linked comment causes a dependency resolution failure is because the project page exists on PyPI but it has no links (as opposed to returning 404).

The link is here so you can have a look: https://pypi.org/simple/en-core-web-sm/

There doesn't seem to be a package [with that name](https://pypi.org/project/en-core-web-sm/) so I'm not sure why the page above

[2022-08-24 13:13] aragilar opened #358 "How should the sdist/wheel distinction be handled and communicated?"
First, pip-audit is a really good idea, and I'm going to look at how best to start using it in projects I work on. The python community needs this kind of tooling, so thank you for developing and maintaining this. However, I can see a major problem with pip-audit, in that it seems to assume that a vulnerability is tied to a specific package and version, rather than a specific artefact. This has is

[2022-08-24 18:12] #356 closed

[2022-08-24 18:17] #350 closed

[2022-08-24 20:45] woodruffw commented on #358
Thanks a ton for the detailed comment, and the kind words as a potential user!

Yeah, this is a conceptual issue with the packaging data model in Python (and some other packaging ecosystems): a specifier like `foo==1.2.3` can be satisfied by one or more "candidates", which in turn may or may not actually have anything to do with each other (the implicit contract with package names is that they do,

[2022-08-25 07:56] aragilar commented on #358
Yep, I don't see this being an issue in the near term (or at least I'm not aware of it being an issue currently for anyone, and hopefully maintainers are taking action to make this a non-issue), and the pure-python approach to tracking vulnerabilities makes sense (and I agree is the right one to take).

I raised this more to get it on the radar, as I suspect this issue would impact different parts

[2022-08-25 10:07] woodruffw commented on #358
Yep, this is a good goal, and a good observation -- my (very limited) experience with ML folks indicates that security awareness among them is similarly limited.

+1 on updating the documented security model to emphasize that `pip-audit` doesn't attempt to "trawl" native dependencies for non-Python vulnerabilities. There was some verbiage that @di or myself used in a previous issue discussing this

[2022-08-26 08:55] #358 closed

[2022-08-26 08:58] #354 closed

[2022-08-30 13:00] tetsuo-cpp commented on #340
Resolved by #344. Closing this now.

[2022-08-30 13:41] woodruffw commented on #340
Yep! Thanks for reopening.

Sent from mobile. Please excuse my brevity.

[2022-08-30 13:52] woodruffw commented on #340
Re-tagged as upstream to emphasize that we're working around an upstream Python/pip distribution bug here.

[2022-09-05 00:56] jenstroeger commented on #348
I’d like to use this issue to scribble down thoughts & ideas, and to keep the conversation going. @woodruffw, unless perhaps you’d like to move the conversation to a more suitable place (e.g. the [Python Ideas](https://discuss.python.org/c/ideas/6) board).

Assuming the user is online when running `pip-audit` then for some/many packages the code repository should be available, e.g.
[code]
Scraping

[2022-09-05 13:38] jenstroeger opened #365 "Audit fails on GH Action runners for Windows on Python 3.9 and 3.10"
## Bug description

Please see these two failing Action runs:
- https://github.com/jenstroeger/python-package-template/runs/8189428647?check_suite_focus=true#step:10:1
- https://github.com/jenstroeger/python-package-template/runs/8189428898?check_suite_focus=true#step:10:1

## Reproduction steps

The `requirements.txt` file is available as an artifact of the Linux run of that workflow: https://git

[2022-09-06 17:02] woodruffw commented on #365
Thanks for the report!

This looks like the underlying error:

[code]

If I'm looking at your CI correctly, you might be emitting a broken `requirements.txt` on Windows runners:

[code]

...which makes me suspect that this isn't a bug in `pip-audit`, since that same step runs without `JSONDecodeError`s on your non-Windows runners.

[2022-09-07 02:59] jenstroeger commented on #365
Thanks @woodruffw!

I didn’t actually realize that the [preceding step](https://github.com/jenstroeger/python-package-template/runs/8189428898?check_suite_focus=true#step:9:20) of the failing workflow step wasn’t successful either. After some digging around, I found the problem — the age-old [DOS/UNIX newline difference](https://en.wikipedia.org/wiki/Newline#Representation). This [line of code](ht

[2022-09-07 03:06] #365 closed

[2022-09-26 19:25] irishismyname commented on #99
Can you recommend a way to bypass this for pipeline jobs? Exit code 1 is preventing us from uploading the CycloneDX report as a job artifact in GitLab.

[2022-09-26 19:29] woodruffw commented on #99
The easiest thing to do is probably to swallow the exit code entirely:

[code]

That should keep your CI from exiting prematurely. Longer term, we could think about making the current exit code behavior optional if it's something multiple users would like 🙂

[2022-09-28 13:58] lumjjb commented on #251
Thanks for checking back! I believe that there's on-going OpenSSF funding request for the python library: https://github.com/ossf/sbom-everywhere/issues/6

Is this something that you are participating / interested in?

[2022-09-28 14:11] woodruffw commented on #251
I think so! We have a decent amount of prior experience with SBOM generation, including contributing to other SBOM libraries for Python.

What's the best way to proceed here? Is there an specific OSSF point-of-contact that Trail of Bits should email?

[2022-10-10 16:32] di opened #379 "Investigate whether Semgrep could be used for dependency discovery"
Semgrep has some support for finding Python dependencies (looks like it's currently limited to `Pipfile.lock` and can't perform resolution): https://semgrep.dev/docs/experiments/r2c-internal-project-depends-on/#findings-of-r2c-internal-project-depends-on

We should investigate whether using Semgrep would be potentially useful/possible here, possibly as part of #85 if we plan to support that.

[2022-10-11 14:59] MuhammadPathan opened #380 "pip-audit succeeds for Mac and Linux agents but fails for windows agent"
pip-audit succeeds for Mac and Linux agents but fails for windows agent

have the following requirements.txt :
polars== 0.14.14
connectorx==0.3.0
azureml-core==1.44.0
azureml-dataprep== 4.3.1
pyarrow==9.0.0
python-dotenv== 0.21.0

when using a bash agent in azure pipeline the following succeeds. However, when running a windows agent the following fails. it shows this as a vulnerability:
scanned re

[2022-10-11 15:06] di commented on #380
Dependencies specifications can be platform-dependent ([amongst other things](https://peps.python.org/pep-0508/#environment-markers)), and the `pywin32` dependency seems to be Windows-specific, so it's likely only being determined to be a subdependency when an audit is run on a Windows platform.

[2022-10-14 13:49] sebastianw opened #381 "Report yanked versions of packages"
**Is your feature request related to a problem? Please describe.**

My requirements.txt contained a yanked version of `cryptography`. `pip-audit` did not warn about this.

**Describe the solution you'd like**

If possible `pip-audit` should (maybe optionally) warn/report yanked package versions. pip itself already warns about it when installing the package:

[code]

**Describe alternatives you've

[2022-10-14 14:15] woodruffw commented on #381
Thanks for the report!

To clarify: you'd like `pip-audit` to warn you about package versions that don't have public vulnerabilities, but *have* been yanked by their maintainers? That seems like a reasonable addition to me; just wanted to make sure I understand.

[2022-10-14 14:21] woodruffw commented on #381
Thinking out loud: we can do this via the PEP 503 API, since it includes a `data-yanked` member when a particular distribution has been yanked.

We might want to stuff this behind another auditing flag; something like `--fail-on-yanked` (which would in turn be implied by the pre-existing `--strict`, maybe?)

[2022-10-14 14:25] sebastianw commented on #381
Yes, that is exactly what I want. 😃

[2022-10-14 14:28] woodruffw commented on #381
Excellent, thanks for confirming 🙂

CC @di and @tetsuo-cpp any objections to this functionality? IMO we should put it behind a flag, but otherwise I think it's a good addition.

[2022-10-14 14:43] di commented on #381
I think as long as this is opt-in, it's fine by me (since yanking does not necessarily mean there is a security issue, and this is primarily a security tool).

[2022-10-14 14:47] woodruffw commented on #381
Yep, agreed about opt-in. I'll take a stab at this in a bit.

(Thinking about it more, IMO we shouldn't have `--strict` imply this, since `--strict` currently controls only dependency collection errors, and yanked release do not cause dependency collection problems.)

[2022-10-18 05:48] Zac-HD opened #382 "Crash on `package @ git+...` dependencies"
## Bug description

Using `package @ git+...` dependencies crashes `pip-audit` with a traceback, when I'd expect it to output the usual report with those packages listed by name and skip-reason if unauditable.

## Reproduction steps

[code]
[code]

## Platform information

* OS name and version: macOS Monterey
* `pip-audit` version (`pip-audit -V`): `pip-audit 2.4.4`
* Python version (`python -V`

[2022-10-19 02:03] di commented on #382
This doesn't crash for me:

[code]

Can you provide the traceback you're getting?

[2022-10-20 00:30] woodruffw opened #385 "Skip vulnerability reports that are marked as "withdrawn""
The OSV format supports the `withdrawn` field, which indicates that a report has been withdrawn and is no longer valid.

`pip-audit` should respect that field and ignore any reports that contain it, so long as the field's timestamp is not after the current time.

[2022-10-20 00:32] woodruffw commented on #385
This applies immediately to the OSV service backend, but may also apply to PyPI's vulnerability DB (which serves a functional subset of the OSV schema). I'll need to check what PyPI's updated does when a entry is marked as withdrawn.

[2022-10-20 00:41] woodruffw commented on #385
(I identified this as part of looking into https://github.com/pytest-dev/py/issues/287 -- we "correctly" report this spam vulnerability at the moment because it isn't marked as withdrawn yet, but we should skip it if/when it's correctly withdrawn.)

[2022-10-20 00:44] woodruffw commented on #382
Thanks for the additional context @Zac-HD! I'll have time to attempt to repro this (and hopefully come up with a quick fix) in the coming days.

[2022-10-20 00:47] woodruffw commented on #382
One small thing to note (that I don't think is causing the bug, but might be helpful):

If you're trying to avoid *all* network interaction with PyPI, then you'll probably want `-s osv` as well. By default, `pip-audit` uses PyPI's JSON API for vulnerability information; with `-s osv` it'll use the OSV's (also online) DB instead.

[2022-10-24 14:56] di commented on #385
https://github.com/pypa/pip-audit/pull/386 looks good to me but I think we should probably extend support for this to PyPI as well -- shall we create a separate issue for tracking that?

[2022-10-24 17:30] woodruffw commented on #385
Yeah, I think so -- I can create that in a moment.

[2022-10-24 17:31] #385 closed

[2022-10-25 03:39] woodruffw opened #388 "Ignore "withdrawn" vulnerability reports from PyPI's vulnerability service"
Similar to #385, but for the default (PyPI) vulnerability service: we should handle vulnerability reports that are marked as "withdrawn" by ignoring them.

This is going to require a little more investigation/thought, since PyPI's JSON API doesn't expose the full OSV-style schema. Instead, it has a subset:

[code]

So, this *may* be a Warehouse-side change rather than a `pip-audit` one: Warehouse

[2022-10-25 03:39] woodruffw commented on #385
#388 is the continuation of this, for PyPI's vulnerability service.

[2022-10-25 05:13] jenstroeger commented on #388
@woodruffw is it possible to guesstimate when this change (including Warehouse/PyPI server side) comes online? I’ve got [a bunch of breaking workflows](https://github.com/jenstroeger/python-package-template/pulls) and I have two options:

- wait for [that “CVE”](https://github.com/pytest-dev/py/issues/287) to be withdrawn and status mirrors and tools catch up to that new status; or
- temporarily d

[2022-10-25 07:54] anthonyharrison commented on #251
Have a look at [SBOM4PYTHON](https://pypi.org/project/sbom4python/) which might do what you need. It generates both SPDX and CyloneDX SBOMs for an installed Python module and all its assoicated dependencies.

[2022-10-25 11:38] woodruffw commented on #388
My best guess is that I'll have time to address this issue and make a new release later this week. However, as you pointed out, this will **not** fix the underlying issue, which is a data quality issue that I ultimately don't control.

In the mean time, you actually have a third option: you can use the `--ignore-vuln ID` option for raw `pip-audit` invocations, or the `ignore-vulns` setting in GitH

[2022-10-25 13:35] lumjjb commented on #251
@woodruffw sorry i missed this, I think this is the issue for the python lib funding https://github.com/ossf/sbom-everywhere/issues/6 that @joshbressers has been shepherding

[2022-10-25 14:24] di commented on #388
(As much as I don't want folks ignoring CVEs, that example/explanation is good and should probably land in our docs!)

[2022-10-25 15:45] woodruffw commented on #388
#389 has the doc updates.

[2022-10-25 18:23] woodruffw commented on #251
No problem! Thanks for the update.

And thanks for the link @anthonyharrison!

[2022-10-25 23:37] joshbressers commented on #251
@woodruffw I've pointed Kate Stewart at this issue, she should be able to hook you up with the folks working on that SBOM library. Feel free to also follow along on the issue @lumjjb added

[2022-10-26 15:40] woodruffw commented on #251
Thanks a ton @kestewart! I'm happy to join the weekly call; I'll be in contact over email.

[2022-10-26 18:42] woodruffw commented on #388
https://github.com/pypi/warehouse/pull/12443 _should_ be all we need: with that, PyPI will prune vulnerability reports on its own.

[2022-10-27 14:02] woodruffw commented on #388
#393 adds the code that supports https://github.com/pypi/warehouse/pull/12443.

[2022-10-27 21:21] woodruffw commented on #388
Closing since all of the code on the `pip-audit` side is merged; we just need the upstream PyPI changes for them to become effective.

[2022-10-27 21:21] #388 closed

[2022-10-29 21:39] woodruffw commented on #382
Did some digging here, and it looks like this error only happens with `--no-deps`. I think that's why @di couldn't repro it.

In particular, it looks like it happens because `--no-deps` requires every dependency to be fully pinned, but the URL-style requirement you're providing doesn't include a version specification.

In other words, this:

[code]

should be this:

[code]

...however, that still

[2022-10-29 21:52] woodruffw commented on #382
Yep, this looks like a case of `pip-requirements-parser` not handling the egg fragment correctly:

[code]

[2022-10-29 22:04] woodruffw commented on #382
Going further, I'm not 100% sure our current guidance in that exception (`#egg=package_name==package_version`) is actually correct -- I can't find a reference anywhere in `pip`'s documentation for that syntax, and I can't find it in `pip`'s source either. The only supported `#egg=...` form seems to be without the package version suffix, meaning that VCS URL dependencies cannot be meaningfully pinn

[2022-10-29 22:10] woodruffw commented on #382
Yep, confirmed: that syntax is definitely not official or supported: https://github.com/pypa/pip/issues/5384

It seems like the only way to support "pinned" dependencies with VCS URLs is to use VCS-specific tagging (e.g. git tags or revs). So we need to update the error here to clarify that `--no-deps` can't be used with requirements inputs that contain VCS URLs.

[2022-10-29 22:32] Zac-HD commented on #382
Could we instead skip VCS URLs in `--no-deps` mode, as is reported for not-on-PyPI packages more generally?

My motivation is that I want to check a requirements file produced by `pip-compile` for known vulnerabilities, *without* giving sdist package authors arbitary code execution on my machine (by having previously installed the package, or building a wheel locally; I know that producing the loc

[2022-10-30 17:16] woodruffw commented on #382
I'm of two minds on this. On one hand, we explicitly discourage `pip-audit` users from treating it as separate from `pip install` in terms of package trust -- there are use flows that *happen* to avoid arbitrary package script execution during audits, but that behavior isn't permanently guaranteed (although it's unlikely that it'll change).

On the other hand, I agree that skipping URL deps makes

[2022-10-31 16:50] woodruffw commented on #382
I just confirmed that `pip install --no-deps -r requirements.txt` *does* install a VCS dependency but skips its subdependencies, so https://github.com/pypa/pip-audit/issues/382#issuecomment-1297260688 is probably the closest appropriate behavior here.

[2022-10-31 17:06] #382 closed

[2022-10-31 17:16] tetsuo-cpp commented on #382
Not sure whether this is relevant anymore, but I'll reply anyway. Both `pip-api` and `pip-requirements-parser` parse the version out of the egg fragment so I just assumed it was part of the official syntax. It does appear to be some kind of informal convention, but I agree that it makes more sense to just skip them.

[2022-11-02 16:41] norg opened #398 "Description not included by default"
## Bug description

The readme points out that `--desc` defaults to `auto` and in json output mode to `on`, but when passing `--desc auto` it does not and if `--desc` is missing at all the description is also missing. It does work for `--desc on` and also `--desc` being passed.

## Reproduction steps

Run pip audit with different options and compare json output:

- pip-audit -r requirements.txt -f

[2022-11-02 18:36] woodruffw commented on #398
Thanks for the report!

Yes, this is intended behavior. To clarify:

1. `--desc auto` means "include the description, *if* it's the default for the selected output format"
2. `--desc on` means "always include the description, regardless of the format's default"
3. `--desc off` means "never include the description, regardless of the format's default"

Does that clarify things? If so, I can look int

[2022-11-02 18:38] woodruffw commented on #398
Oh, unless I'm misunderstanding. Are you saying that `--desc auto` does *not* produce descriptions in the JSON format?

[2022-11-02 18:39] norg commented on #398
Yes that's one of the cases where I'm confused about :) Especially with `--desc` with no additional argument behaving different from the one where `auto` is added.

[2022-11-02 18:44] woodruffw commented on #398
I'll have a PR open to fix `--desc auto`'s behavior with the JSON formatter ready in a moment.

[2022-11-02 18:48] woodruffw commented on #398
I think we did this because `--desc on` looks a little strange compared to "idiomatic" CLI design: `--desc` is a boolean option, so its mere presence should imply `on` rather than needing a value passed. But I agree it's a little confusing.

[2022-11-02 18:53] #398 closed

[2022-11-03 08:01] norg commented on #398
Awesome, thanks for the explanation and fix!

[2022-11-03 20:06] woodruffw commented on #190
Looked into this a little more: to expose the underlying error message, we'll need to collect the `stderr` stream for each subprocess and push it back up the exception stack.

[2022-11-06 14:23] artemrys commented on #198
@woodruffw this issue can be closed, as you already released an official GitHub Action (https://github.com/pypa/gh-action-pip-audit).

[2022-11-06 14:24] di commented on #198
Thanks @artemrys.

[2022-11-06 14:24] #198 closed

[2022-11-06 14:41] artemrys commented on #206
@woodruffw I would like to take this one, especially since we have an official GitHub Action already implemented.

[2022-11-06 15:42] woodruffw commented on #206
@artemrys Please do! Feel free to ping me if you have any technical questions about the codebase.

[2022-11-07 15:20] woodruffw opened #405 "Modernize our type hints"
As @orsinium pointed out in #404, we can use more modern type hint styles without needing to increase our minimum Python version.

In particular, we can use type unions (`Foo | Bar`) and "intrinsic" types (`dict[...]` instead of `Dict[...]`).

[2022-11-07 15:56] di commented on #84
Or, spinning out generic functionality into `audit`, and keeping `pip-audit` as a pip-specific wrapper around that functionality.

[2022-11-07 16:01] woodruffw commented on #84
This makes sense to me -- it looks like `audit` is taken on PyPI, so in the style of `pip`'s generic resolver being `resolvelib` we could make it into `auditlib` 🙂

From there, `pip-audit` would remain pretty much the same -- the only things that would change would be moving all of the `interface.py` files over to `auditlib` and depending on it.

[2022-11-07 17:01] di commented on #84
I think we can definitely acquire `audit` -- hasn't seen an update since 2010.

[2022-11-08 07:59] orsinium commented on #84
I hoped to use pip-audit in our internal poetry-based project, but I can't without the support for poetry.lock (which, as you can see in the PR, is quite short). having `poetry audit` would be great, but I'm not sure if and when it will happen. When I did dephell, the biggest difference between dephell and anything else (including poetry) was having everything out-of-the-box (including, unsurprisi

[2022-11-08 08:00] orsinium commented on #405
You can use isort to make annotations lazy (`isort --add-import 'from __future__ import annotations'`) and pyupgrade to use the new style of annotations.

[2022-11-08 08:01] orsinium commented on #405
Subscribe to [awesome-python-code-formatters](https://github.com/life4/awesome-python-code-formatters) for more tools 😉

[2022-11-10 21:04] woodruffw commented on #405
@jleightcap is going to take a stab at this.

[2022-11-10 21:22] artemrys commented on #206
Started working on this feature, created a sample SARIF file, and uploaded it to GitHub, attaching the screenshot of how it looks.

Some links for future reference:

* tool created by Microsoft to validate SARIF files [here](https://sarifweb.azurewebsites.net/Validation)
* found an example of a tool that performs similar actions to what `pip-audit` do and we can see how they are assembling the SAR

[2022-11-13 16:08] artemrys commented on #206
I think we might be blocked here because GitHub requires a [`physicalLocation`](https://docs.github.com/en/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning#physicallocation-object) field to be populated in a SARIF file.

The `physicalLocation` requires the file location, line, and column where the code scanning result was found. If I understand correctly,

[2022-11-13 17:26] woodruffw commented on #206
Yeah, we don't currently provide this in `VulnerabilityResult`, so we'd need to. Importantly, we *can't* provide it for every auditing "source": environments, for example, don't come from a file input so they don't have `(file, line, col)` information.

I'm not sure if this is the *right* approach, but for transitive dependencies we could probably flag them based on the file location of the direct

[2022-11-13 17:29] woodruffw commented on #206
To summarize: I'd be okay with us adding a `source_locations: Optional[List[SourceLocation]]` to each `Dependency`, which `VulnerabiliyResult` would then map with.

`SourceLocation` would then be:

[code]

...and `source_locations` needs to be a list, because of subdependencies: subdependency `S` might be introduced by deps `A` and `B`, so we want to record the source locations of *both* `A` and `

[2022-11-17 17:49] fi0rini opened #410 "pip-audit failure using --index-url"
## Bug description

Hey guys sorry I'm actually not sure if this is a bug or I'm doing something wrong. pip-audit is failing with a custom pypi index-url option

## Reproduction steps

`pip-audit -r requirements.txt --index-url https://custom-repo.com/api/pypi/pypi-all/simple`

## Expected behavior

Expect this to download the packages from the custom pypi repo as expected. for example `pip instal

[2022-11-17 17:55] woodruffw commented on #410
Thanks for the report! Taking a look now.

[2022-11-17 17:57] woodruffw commented on #410
The second error you're seeing looks like a variant of #190 -- `pip install` can fail on its own if the underlying package's installation step fails, and `pip-audit` can't recover from that. But that looks unrelated to the index issue, so we'll dodge that for a moment 🙂

[2022-11-17 18:06] fi0rini commented on #410
alright cool np thanks @woodruffw for the info. let me know if I can help you in any way. also I found #190 too right before you messaged me back and I saw maybe it's related to distro dependencies. I'll try to debug that a little bit more. let meknow if you want me to report any findings, either on the other issue thread or here.

[2022-11-17 18:08] fi0rini commented on #410
yep let me get back to you on that also!

[2022-11-17 18:29] fi0rini commented on #410
hey so a couple things. just a quick background but I'm not sure if it helps - I'm using artifactory and a remote pypi repo that's proxying to the official https://pypi.org/ .  I don't see any settings related to relative paths.

I don't know if it's sufficient to provide the information that you need, but I ran this test command and it worked ok: `wget https://custom-repo.com/api/pypi/pypi-all/si

[2022-11-17 18:33] woodruffw commented on #410
Yep, that does indeed look like you're hosting relative URLs.

Could you also check the HTML contents of this URL: `https://custom-repo.com:443/api/pypi/pypi-all/simple/django/`? It should have `<a ...>` links with relative instead of absolute URLs, which would fully confirm the theory.

(Where `custom-repo` is your index.)

[2022-11-17 18:35] fi0rini commented on #410
Ah yeah that is exactly what I see

[code]

[2022-11-17 18:36] woodruffw commented on #410
Excellent, thanks a ton for confirming! This is definitely a bug in `pip-audit`, then. I'll work on a fix.

[2022-11-17 18:37] fi0rini commented on #410
Alright yea. Thanks @woodruffw sorry to make a bug for you man! I really appreciate your help.

[2022-11-17 18:38] woodruffw commented on #410
Not a problem at all! Thanks a ton for reporting it and for helping triage.

[2022-11-17 18:39] di commented on #410
Technically we made the bug, you just found it! 🙂

[2022-11-17 21:31] #410 closed

[2022-11-18 15:57] fi0rini commented on #410
Dang you guys are fast. Thank you for fixing I should get a chance to test this later today!

[2022-11-22 00:41] #405 closed

[2022-11-22 23:40] aucampia opened #415 "`--requirement -` does not work: `No such file or directory: '<stdin>'`"
## Bug description

When running pip-audit with `--requirement -` does not read the requirements from stdin like `--requirement /dev/stdin` does but instead raises an exception `pip_requirements_parser.InstallationError: Could not open requirements file: <stdin>|n[Errno 2] No such file or directory: '<stdin>'`.

## Reproduction steps

[code]

## Expected behavior

I expect this to do the same as:

[2022-11-23 03:34] woodruffw commented on #415
Thanks for the report!

In general, we aim to maintain CLI compatibility with `pip`, and `pip` also doesn't support `-` as a `stdin` shorthand. For example, here's what I get with `pip --requirements -`:

[code]

Have you considered using subshell substitution, e.g. something like this?

[code]

(where `echo poetry` is whatever your source is.)

[2022-11-23 03:44] woodruffw commented on #415
Looks like this is `pip`'s upstream tracking for `-r -`: https://github.com/pypa/pip/issues/7822

[2022-11-24 09:47] severo commented on #84
Currently, I try to export from poetry to requirements.txt, then process the file:

[code]

But there is an issue (described in https://github.com/python-poetry/poetry-plugin-export/issues/129 and https://github.com/python-poetry/poetry-plugin-export/issues/157) when the requirements.txt file contains lines like this (I removed the hashes for readability):

[code]

pip-audit complains about duplic

[2022-11-24 15:32] woodruffw commented on #84
Yeah, could you open a separate issue for that? We generally try to match the same restrictions that `pip` placed on requirements files, so we'll need to check what they do.

[2022-11-24 23:38] koyeung commented on #84
It would be great to have `poetry` support in `pip-audit`, but it might change `pip-audit` scope.
On the other hand, I've done a plugin https://pypi.org/project/ko-poetry-audit-plugin/ on `poetry` side. See if it could be helpful.

[2022-11-25 14:55] TECH7Fox opened #416 "2.4.6 crashes"
## Bug description

pip-audit crashes at `pip_audit/_service/interface.py, line 162`

Right here: https://github.com/pypa/pip-audit/blob/v2.4.6/pip_audit/_service/interface.py#L162

## Reproduction steps

`tox -e audit`

## Expected behavior

No errors.

## Screenshots and logs

[code]

## Platform information

* OS name and version: Ubuntu 20.04.5 LTS
* `pip-audit` version (`pip-audit -V`): 2.4.6

[2022-11-25 17:48] woodruffw commented on #416
Thanks for the report!

`tox -e audit` doesn't give us a lot of context -- do you happen to know how that's invoking `pip-audit` internally? In particular, is it using the OSV service or the PyPI one?

Similarly, could you share the dependency source(s) you're auditing? That will help us reproduce the bug.

[2022-11-25 17:53] woodruffw commented on #416
Never mind, I see in your stack trace that the OSV service is the one being used. That's generally not encouraged unless you have a specific reason to prefer it over the PyPI one (which is the default).

This does look like our bug, however, and probably introduced with #404. I'll look into it some more.

[2022-11-25 17:55] woodruffw commented on #416
Yeah, this looks like us failing to handle fractional sections in the RFC3339 timestamp we're getting back from OSV. I'll have a fix in a moment.

[2022-11-25 18:05] woodruffw commented on #416
Looks like OSV now returns some RFC3339 timestamps with fractional seconds, while others don't have it. I'm going to raise this upstream, since while it's strictly correct from RFC3339's perspective it makes things harder for clients and might indicate an unintentional change on their part.

[2022-11-25 18:15] woodruffw commented on #416
#417 has the fix. @TECH7Fox would you mind giving the changes in that PR a try?

[2022-11-25 20:17] TECH7Fox commented on #416
Thanks that was fast. Will try tomorrow. Is there a easy way to use the PR?

[2022-11-26 04:31] woodruffw commented on #416
The easiest way is to check the repository out and follow the development steps in the `CONTRIBUTING.md`.

[2022-11-26 15:33] TECH7Fox commented on #416
@woodruffw it's working now. Thanks :+1:

[2022-11-26 15:39] woodruffw commented on #416
Glad to hear it! I'll merge and get a release cut soon. Thanks again for reporting, and for helping debug!

[2022-11-26 16:20] TECH7Fox commented on #416
Great, thanks for the fast update!

[2022-11-26 19:24] woodruffw commented on #416
No problem! In the mean time, the PyPI service (`-s pypi`) should still be functioning correctly.

[2022-11-28 11:35] #416 closed

[2022-11-28 12:21] CribberSix opened #419 "Ability to ignore multiple vulnerabilities"
I want to ignore multiple vulnerabilities in my project:

We are using pyspark=3.2.1 as there is no newer version available on Azure at the moment. If we use `pip-audit` as a pre-commit hook, all of our builds keep failing because there are vulnerabilities for pyspark=3.2.1 - which we need to ignore.

As far as I figured out, I can only pass single vuln-ids.

**Describe the solution you'd like**
A

[2022-11-28 13:24] di commented on #419
Reopening this because I think we can improve the help text here.

[2022-11-28 14:31] woodruffw commented on #419
Agreed! I'll make a quick PR to improve the `--help` text.

[2022-11-28 15:02] #419 closed

[2022-11-28 15:57] ValueRaider opened #421 "Cannot handle ">=" in requirements.txt"
The vast vast majority of Python packages use `>=` in their requirements.txt not `==`. But `pip-audit` is not flagging vulnerabilities when `>=` used.

E.g., take this example requirements.txt:

lxml 4.5.1 contains a vulnerability but is not flagged by `pip-audit`. Only flagged if `>=` replaced with `==`

[2022-11-28 17:38] woodruffw commented on #421
Thanks for the report!

Could you clarify what your expected behavior is here? `pip-audit` doesn't actually audit version ranges like `lxml>=4.5.1` -- what we do is *resolve* the range to the "most compatible" version, and then audit the result of that resolution.

This is very similar to what `pip` does. For example, with `lxml>=4.5.1`, we actually end up with `lxml==4.9.1` installed:

[code]

As

[2022-11-28 18:10] ValueRaider commented on #421
**Expected behaviour**

List the versions in that range that contain a known vuln, or print the most recent insecure/secure version. So that I, as a package maintainer, can easily specify minimum _secure_ versions not just minimum functional versions.

I appreciate that `pip-audit` cannot verify that a particular range is forever secure for all future versions. But this limitation also applies to

[2022-11-28 18:20] woodruffw commented on #421
@di pointed out an important qualification to me: if `lxml>=4.5.1` does happen to select `lxml==4.5.1`, then we *do* flag a result for it. You can confirm this for yourself by constraining the open end:

[code]

...but I can see a case where `pip-audit` is run separately, while `pip install` is run on an already partially constructed environment. If that environment already has `lxml==4.5.1` then

[2022-11-28 18:20] di commented on #421
@ValueRaider, what would you expect to happen with transitive dependencies? For example, if `lxml` was an unpinned sub-dependency of some top-level dependency you had, but wasn't in the requirements file?

[2022-11-28 18:55] ValueRaider commented on #421
I suspect we are discussing 2 slightly different use cases here, which would expect slightly different behaviour:

1) User deploying software

  - Use case: can I install this package and its set of requirements without introducing vulnerabilities into my environment? I suspect this is the currently implemented use case.

2) Package maintainer

  - Use case: have I configured `requirements` to ens

[2022-11-28 20:12] woodruffw commented on #235
CC @jleightcap: this is a good potential first issue, to get familiar with the codebase.

[2022-11-28 20:21] woodruffw commented on #193
CC @jleightcap: this is another good one to look at!

[2022-11-28 22:32] ValueRaider commented on #421
Some extra flag makes sense.